[tool.black]
line-length = 88
target-version = ['py311']

[tool.isort]
profile = "black"
line_length = 88

[tool.flake8]
max-line-length = 88
extend-ignore = "E203, W503, B008"
exclude = [
    ".git",
    "__pycache__",
    "build",
    "dist",
    ".venv",
    ".mypy_cache",
]
per-file-ignores = [
    "main.py:B008",  # Игнорируем B008 для FastAPI Query/Depends
]

[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
